<div class="header-hero">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-lg-6 col-md-10">
                <div class="header-hero-content">
                    <h1 class="header-title">ABOUT US</h1>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Tenetur dolor tempore aperiam veniam dolore deleniti <br> dolorum architecto odio quam ipsa.</p>
                    <a href="" class="btn">See More</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header-image">
                    <img src="../../assets/cheif.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-shape-1">
            <img src="../../assets/Rectangle 264.png" alt="">
        </div>
    </div>

</div>
