<div class="testy-container">
    <div class="background1">
        <img src="../../assets/Mask Group tall.png" alt="">
    </div>
    <div class="background2">
        <img src="../../assets/Mask Group tall.png" alt="">
    </div>
</div>
<h1 class="title text-center">Testimonials</h1>
<div class="container mt-5 text-center">
 
    <div class="row">

        <!-- Card 1 -->
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Maryem Haytham</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Marwa Haytham</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mohamed Haytham</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-lg-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Menna Haytham</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>

    </div>
</div>
