<h3>PEACHY PUP <br> BAKERY</h3>
<div class="header-hero">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-lg-6 col-md-10">
                <div class="header-hero-content">
                    <h1 class="header-title">Tasty pastries</h1>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolor tempore aperiam veniam dolore deleniti dolorum architecto odio quam ipsa.</p>
                    <a href="" class="btn">See More</a>
                    <img class="shape-1" src="../../assets/Mask Group small.png" alt="">
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header-image">
                    <img src="../../assets/bread.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header-shape-1">
            <img src="../../assets/Rectangle 264.png" alt="">
        </div>
        <div class="header-shape-2">
            <img src="../../assets/Mask Group.png" alt="">
        </div>
    </div>

</div>